@font-face {
    font-family: arcade;
    src: url(../fonts/emulogic.ttf);
}

.loginpos{
    transform: translate(25%, 0%);
}

body{
  overflow: hidden;
  background-color: black;
}

::placeholder{
    color: white;
  }

.video-container{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.logo-container{
    width: 100vw;
}

#demo-gods-logo{
    display: block;
    float:center;
    width:40vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: arcade;
    font-size: 22px;
    color: white;
    width: 40vw;
    margin-top: 3vh;
}

#demo-gods-sublogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 8.7%;
    padding-right: 8.7%;
    text-align: center;
    font-family: arcade;
    font-size: 0.9vw;
    color: white;
}

.everything-thats-not-the-background-container{  
  transition: all 2s ease; 
  transform: translate(-25%);
  animation-fill-mode: forwards;
  width: 400vw;
  font-family: arcade;
  font-size: 0.9vw;
  color: white;
}

.register-page-column{
    float: left;
    width: 25%;
}

.login-page-column{
    float: left;
    width: 25%;
}

.contacts-page-column{
    float: left;
    width: 25%;
    
}

.details-page-column{
    float: left;
    width: 25%;
}


.login-labels{
  padding-bottom: 3%;
  width:100%;
  font-size: 1.5em;
}

.edit-inp{
  text-align: center;
  background:none ;
  border: none;
}

.login-page-container{
  padding-top: 7%;
  width: 40%;
  margin-left: 30%;
}

.register-page-container{
    padding-top: 7%;
    width: 40%;
    margin-left: 60%;
}

.contacts-page-container{
    padding-top: 7%;
    width: 40%;
    margin-left: 60%;
}

.details-page-container{
    padding-top: 7%;
    width: 40%;
    margin-left: 60%;
}

.login-fields{
    background-color: transparent;
    border: 0px;
    outline: none;
    box-shadow: none;
    float: right;
    display:block;
    cursor:default;
    font-family: arcade;
    font-size: 1.3vw;
    width: 50%;
    height: 100%;
    color: white;
}

.login-button{
  background-color: transparent;
    border: 0px;
    outline: none;
    box-shadow: none;
    cursor:default;
    font-family: arcade;
    font-size: 1.3vw;
    margin-top: 0%;
    height: 100%;
    color: white;
    display:inline-block;
}

.login-button:hover{
  cursor: pointer;
}
.login-register-buttons-container{
  padding-top: 3%;
}

.register-button-container{
  width:49%;
  float: right;
}

.login-button-container{
  width:49%;
  float: left;
}

#register-page-login-button{
  text-align: left;
  float: left;
  display: block;
  margin-right: 0;
  padding-left: 0;
  height: 100%;
}

#login-page-login-button{
    text-align: left;
    float: left;
    display: block;
    margin-right: 0;
    padding-left: 0;
  }
  
  #login-page-register-button{
    text-align: right;
    float:right;
    display: block;
    margin-right: 0;
    padding-right: 0;
  }

#register-page-register-button{
  text-align: right;
  float:right;
  display: block;
  margin-right: 0;
  padding-right: 0;
}

.register-page-container{
  position:absolute;
}


.contacts-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;

  height: 30em;
  width: 70%;
}

.userName{
  margin-bottom: 1.8em;
}

input{
  color: black;
  height: 3em;
}
.viewer{
  background: #2525259c;
  border: white solid 1px;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 55vh;
}
.view-edit{
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.add-submit-btn{
  height: 3em;
  width: 10em;
  color: white;
  background: none;
  border: none;
}

.title{
  margin-bottom: 3em;
}


.selected{
  color: green;
}

.hover:hover{
  color: green;
  background: #0707079c;
  cursor: pointer;
}


.text-center-non{
  text-align: center;
}

.text-left{
  text-align: left !important;
}

.text-right{
  text-align: right !important;
}

.overflow{
  overflow: hidden;
}

.sidebar-btns{
  height: 100%;
}

.user-info{
  padding-top: .4em;
  padding-bottom: .4em;
}




.aved-btn{
  background:none;
  border: none;
  color: white;
  line-height: 1px;
  margin: 0;
  height: 1.5em;
  outline: none;
  width: 8em;
  padding: 0;
}


.add-name{
  margin-right: 2em;
}

.pointer-hover:hover{
  cursor: pointer;
}

    
